.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.fluid.large.submit.button{
  background-color: #0bc2c9;
  color: white;
}

.ui.login.image.header{
  color: #e8347d;
}

.ui.fluid.submit.button{
  background-color: #00B0F5;
  color: white;
}

.ui.mini.submit.button{
  background-color: #00B0F5;
  color: white;
}

.ui.join.button{
  background-color: #00B0F5;
  color: white;
  margin: 10%;
 
}

.group.card{
  background-color: #00B0F5
}

/* .ui.container{
  background: rgba(204, 204, 204, 0.5)
  
} */

/* group cards */
#lsButton{
  margin-left: 100px;
}

#renderLsButton{
  height: 2vh;
  width: 100vh;
}
#test2{
  background: red;
  height: 6vh;
}

#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/border1.png) 30 round;
  margin-top: 6%;
  margin-right: 2px;
  /* background: transparent; */
  background: rgba(196, 104, 104, 0.2)
}

#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/border1.png) 20% round;
  height: 100%;
  background: rgba(204, 204, 204, 0.2)
  /* background: transparent; */
}

#gcard1{
padding-bottom: 1%;
margin-left: 4%;
padding-top: 1%;
}

#usergroup{
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 21%;
}

#borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/comment2.png) 45% stretch;
}

.ui.prof.button {
  background-color: #0bc2c9;
  color: white;
}

.ls1{
  position: relative;
  padding: 20px;
  top: 20px;
  right: 20px;
}

.edit.button{
  background: #0bc2c9;
  color: white;
}

#process {
  margin-bottom: 40px;
  /* overflow-x: hidden; */
  height: 50vh;
}

#process .section-heading {
  margin-bottom: 40px;
}



.pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  margin-top: 20px;
  -ms-transform: skewX(15deg);
  /* IE 9 */
  /* -webkit-transform: skewX(15deg); */
  /* Safari */
  /* -o-transform: skewX(15deg); */
  /* Standard syntax */
  /* -moz-transform: skewX(15deg); */
  background: #0bc2c9
}

.circle-text {
  height: 140px;
  width: 140px;
  margin-left: 17%;
  padding-top: 40%;
}


  /* timeline line */
  .steps-timeline {
    border-top: 5px double #0bc2c9;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .steps-one {
    float: left;
    width: 20%;
    margin-top: -4.5%;
    padding-top: 2%;
  }
  /* entire circle and line */
  /* .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-left: 110px;
    border: 2px solid #0bc2c9;
  } */
  
  /* line that connects circles */
  /* .verticle-line {
    position: absolute;
    height: 7%;
    width: .3%;
    margin-left: 10px;
    background: #0bc2c9;
  } */
  /* outer circle */
  /* .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10.1px;
    border-radius: 50%;
    background: #0bc2c9;
  } */



  #process .container-fluid {
    width: 90%;
  }


 
/* specific line to connect circle */
/* .back-blue {
  background: #0bc2c9;
} */

/* flip */
.flip-card {
  width: 4%;
  height: 2%;
  /* perspective: 1000px; */
}

.flip-card-inner {
  position: relative;
  width: 270px;
  height: 270px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 75%;
  height: 75%;
  backface-visibility: hidden;
  border-radius: 50%;
  margin-left: 16%;
  margin-right: 10px;
  left: -2%;
}

.flip-card-front {
  color: white;
  background:  #00B0F5;
}

.flip-card-back {
  background:  #00B0F5;
  color: white;
  transform: rotateY(180deg);
}

/* end of flip */

/* lifestage button */
.lifestageButton{
margin-top: -30%;
padding-top: 14%;
height:2vh;
}


/* profile card  */

#profile{
  display: block;
  padding-top: 5%;
  margin-left: 30%;
  margin-right: auto;
}

#lifestageBtn {
   display: flex;
   margin-left: 100px;
   padding-bottom:2%;
   justify-content: center;
}


/* comment cards */

#lifestageContainer{
  display:flex;
  /* background: black; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-left: 6%;

  
}

.signUp{
  margin-top: 14%;
}

.login{
  margin-top:18%;
}

#lsContainer{
  
  height: 40vh;
  border-top: 5px double #0bc2c9;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
}
#lsCircle{
/* background: purple; */

}

#buttonSpacing{
  margin-top: -10%;
}
#test7{
 align-content: center;
 /* background: black; */
 width: 100vw;
 height: 5vh;
}
#div1{
  margin-left: 7%;
}

#div4{
  margin-left: 2%;
  width: 30vw;
}
#div2{
  padding-top: 4%;
  height: 70vh;
}

#div3{
  width: 55vw; 
  margin-left:5%;
  padding-top: .4%;
  height: 60vh;
}
#div5{
  width: 27vw;
  margin-left:5%;
}

#div6{
  padding-top: 3%;
}
#div7{
  margin-left: 23%;
}
#commentBubble{
  /* background: green; */
  width: 40vw;
  height: 15vh;
  padding-top: 7%;
  padding-bottom: 10%;
  background: rgba(204, 204, 204, 0.1)
}
#div9{
  padding-top: 8%;
  padding-right: 1%;
  left: -4%;
  width: 7vw;
}
#div10{
  margin-left: 10%;
  padding-top: 2%;
}
.div13{
  height: 5vh;
}
#commentbkgd{
border: 2px solid #e8347d;
background: rgba(204, 204, 204, 0.1)
}

.commentSpacing{
margin-bottom: 9%;
}

#comment2{
  margin-left: 11%;
  width: 40vw;
}

#groupButton{
  margin-top: 2px;
}

.groupDesc{
  margin-top: 40px;
  height: 10vh;
}

.groupName{
  margin-top: 10px;
  height: 10vh;
}

.groupImg{
  margin-top: 10px;
}


#segment{
  background: transparent;
}

#segment1{
  border: none;
  padding-bottom: 1%;
  margin-bottom: -1.2%;
  background: transparent;
}

.test{
  margin-bottom: 1%;
  /* background: black; */
}

#comment{

  height:16vh;
  width: 40vw;
  margin-left: 5%;
}

.speech-bubble-ds {
    background: transparent;
    border: 1px solid #e8347d;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0#e8347d;
            box-shadow: 4px 4px 0#e8347d;
    line-height: 1.3;
    /* margin: 0 auto 40px; */
    width: 100%;
    padding: 2%;
    position: relative;
    /* height:100%; */
}

.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    bottom: -25px;
    position: absolute; 
    right: 15px;
}

.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #e8347d;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}
/* home page */

#home.button{
  right: 5%;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 50px;
  top: 175px;
  left: 175px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: circle 1s ease-in-out;
          animation: circle 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 150px;
  height: 4px;
  top: 198px;
  background: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.line.left {
  left: 50px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
}
.line.right {
  right: 50px;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 70px;
  width: 4px;
  top: 165px;
 
  -webkit-animation: bracket .4s ease-out 1.7s;
          animation: bracket .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket:before, .bracket:after {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 4px;
}
.bracket.left {
  left: 50px;
}
.bracket.left:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.left:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right {
  right: 50px;
}
.bracket.right:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


.hide {
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 50px;
  background: transparent;
  left: 0;
  -webkit-animation: reveal .4s ease-out 1.7s;
          animation: reveal .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.hide.top {
  bottom: 49%;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
.hide.bottom {
  top: 49%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.small {
  position: absolute;
  z-index: 10;
  width: 400px;
  text-align: center;
  left: 0;
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 30px;
  text-transform: uppercase;
}

.small.bottom {
  bottom: 140px;
  top: 85px;
  -webkit-animation: small-bottom .5s ease-out 2.2s;
          animation: small-bottom .5s ease-out 2.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@-webkit-keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@-webkit-keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@-webkit-keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
